@inherits Umbraco.Web.Macros.PartialViewMacroPage
@*
    This snippet displays a list of links of the pages immediately under the top-most page in the content tree.
    This is the home page for a standard website.
    It also highlights the current active page/section in the navigation with the css class "current".
*@
@{ var selection = CurrentPage.Site().Children.Where("Visible");
var projects = CurrentPage.Site().Descendants("ProjectItem").Where("Visible && projectStatus == 9");
var root = CurrentPage.AncestorOrSelf(1);
}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="@(CurrentPage.Name == root.Name ? "active" : null)"><a href="/">Home</a></li>
            @foreach (var item in selection)
            {
                var isProtected = umbraco.library.IsProtected(item.id, item.path);
                var loginAccess = umbraco.library.IsProtected(item.id, item.path) && umbraco.library.HasAccess(item.id, item.path);
                if (!isProtected || loginAccess)
                {
                    <li class="@(item.IsAncestorOrSelf(CurrentPage) ? "active" : null)">
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            }
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    Completed Projects
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    @foreach (var p in projects)
                    {
                        var isProtected = umbraco.library.IsProtected(p.id, p.path);
                        var loginAccess = umbraco.library.IsProtected(p.id, p.path) && umbraco.library.HasAccess(p.id, p.path);
                        if (!isProtected || loginAccess)
                        {
                            <li><a href="@p.Url">@p.Name</a></li>
                        }
                    }
                </ul>
            </li>
        </ul>
    </div>
</nav>
